Flask
Flask-Login
Flask-Mail
Flask-Migrate
Flask-SocketIO
Flask-SQLAlchemy
Flask-WTF
SQLAlchemy
alembic
bidict
blinker
click
colorama
greenlet
h11
itsdangerous
jinja2
mako
markupsafe
python-dotenv
python-engineio
python-socketio
simple-websocket
tomli
typing-extensions
werkzeug
wsproto
wtforms
pyotp
Flask==3.0.0
Flask-SocketIO==5.3.0
Flask-SQLAlchemy==3.1.1
Flask-Login==0.6.3
Flask-Mail==0.10.0
Flask-Migrate==4.0.0
Flask-WTF==1.2.1
python-socketio==5.9.0
python-engineio==4.8.0

gevent==23.9.1
gevent-websocket==0.10.1  

gunicorn==21.2.0