Flask
Flask-Login
Flask-Mail
Flask-Migrate
Flask-SocketIO
Flask-SQLAlchemy
Flask-WTF
SQLAlchemy
alembic
bidict
blinker
click
colorama
greenlet
h11
itsdangerous
jinja2
mako
markupsafe
python-dotenv
python-engineio
python-socketio
simple-websocket
tomli
typing-extensions
werkzeug
wsproto
wtforms
pyotp
psycopg2-binary
python-socketio
python-engineio

gevent
gevent-websocket  

gunicorn