Flask
Flask-Login
Flask-Mail
Flask-Migrate
Flask-SocketIO
Flask-SQLAlchemy
Flask-WTF
SQLAlchemy
alembic
bidict
blinker
click
colorama
greenlet
h11
itsdangerous
jinja2
mako
markupsafe
python-dotenv
python-engineio
python-socketio
simple-websocket
tomli
typing-extensions
werkzeug
wsproto
wtforms
pyotp
gunicorn
geven
gevent-websocket
gunicorn
flask-socketio
